[user]
	name = George Lifchits
	email = george.lifchits@gmail.com
	github = glifchits
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	pl = pull
	# lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	# Show files ignored by git:
	ignore = ls-files -o -i --exclude-standard
	# Show change in commit logs from two commits
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	amend = commit --amend
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	restore = "!f() { git checkout $(git rev-list -n 1 HEAD -- $1)~1 -- $1 }; f"
	up = "!git remote update -p; git merge --ff-only @{u}"
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	append = commit --amend -C HEAD
[web]
	browser = open
[difftool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
	trustExitCode = false
[difftool]
	prompt = false
[diff]
	tool = diffmerge
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
	trustExitCode = false
[mergetool]
	keepBackup = false
[merge]
	tool = diffmerge
	ff = true
[push]
	default = simple
[core]
	editor = vim
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[status]
	submoduleSummary = true
[pull]
	rebase = false
[credential "https://git.overleaf.com"]
	username = george.lifchits@gmail.com
	helper = cache
